<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="solution.name" value="xspec.sln"/>
		<add key="code.file.extensions" value="*.cs"/>
		<add key="watch.path" value="."/>
		<add key="wpf.growl.url" value="http://localhost:8080/growl" />
	</appSettings>
</configuration>