<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="solution.name" value="xSpec.sln" />
    <add key="code.file.extensions" value="*.cs" />
	<add key="exlcusions" value="*.suo, *.config, *.dll, *.exe" />
    <add key="watch.path" value="." />
    <add key="build.executable" value="C:\Windows\Microsoft.NET\Framework\v4.0.30319\msbuild.exe" />
    <add key="testrunner.executable" value="C:\repositories\xSpec\build\xspec.console.exe" />
    <!--<add key="notification.executable" value="C:\repositories\xSpec\build\xspec.notifier.exe" />-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>