<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- this is the path to the runner of your unit tests inside the solution-->
		<add key="unit.test.runner" value="xspec.console.exe /feedback"/>
		
		<!-- this is the listing of code artificats to watch for changes to trigger the build/test cycle -->
		<add key="code.file.extensions" value="*.cs"/>
		
		<!-- this it the path to the solution file that you want to watch. entering a value of "." means the solution is in the same diretory as the watcher-->
		<add key="watch.path" value="."/>
		
		<!-- if you wish to have feedback on the process, use a notification utility of your choosing here -->
		<add key="notification.utility.executable.path" value="c:\utils\growl for windows" />
	</appSettings>
</configuration>